<div class = "new_workout">
<h1>New Workout</h1>

<%= form_for @user, :html => {:multipart => true} do |f| %>
  <p>
    <label>Upload Garmin File</label>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </p>
<% end %>

<h2> Or input your data </h2>

<%= render 'form' %>




</div>

