
       


				<div class="profile-userpic">
					<img src="<%= asset_path('profile.png') %>" class="img-responsive" alt="">
				</div>


					<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= @current_user.name %>
					</div>
					<div class="profile-usertitle-job">
						Cyclist
					</div>
					
					<a class="btn btn-primary" href="#">Follow<span class=""></span></a>
			
				</div>
	


		


